services:
  movie:
    build:
      context: .
      dockerfile: movie/Dockerfile
    depends_on:
      - mongo
    ports:
      - "3001:3001"
    volumes:
      - ./movie/data/:/app/data/
  schedule:
    build:
      context: .
      dockerfile: schedule/Dockerfile
    depends_on:
      - mongo
    ports:
      - "3002:3002"
    volumes:
      - ./schedule/data/:/app/data/
  booking:
    build:
      context: .
      dockerfile: booking/Dockerfile
    depends_on:
      - mongo
    ports:
      - "3003:3003"
    volumes:
      - ./booking/data/:/app/data/
  user:
    build:
      context: .
      dockerfile: user/Dockerfile
    depends_on:
      - mongo
    ports:
      - "3004:3004"
    volumes:
      - ./user/data/:/app/data/
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
